@{
    ViewData["Title"] = "Inicio";
}

<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-body text-center">

            <h1 class="display-4 text-primary fw-bold">
                Proyecto MVC en Azure
            </h1>

            <hr />

            <h3 class="mt-4">Presentación del Estudiante</h3>

            <p class="fs-5 mt-3">
                <strong>Nombre:</strong> Jerlyn Rodriguez <br />
                <strong>Matrícula:</strong> A00113235 <br />
                <strong>Asignatura:</strong> Desarrollo de Software con Tecnología Open Source <br />
                <strong>Facilitador:</strong> Omar Re <br />
                <strong>Año:</strong> 2026
            </p>

            <div class="alert alert-success mt-4">
                Aplicación desarrollada con ASP.NET Core MVC y desplegada en Microsoft Azure.
            </div>

        </div>
    </div>
</div>
